{% extends "base.html" %}
{% from "macros.html" import showNavigationBar %}

{% block title %}Contact / Help{% endblock %}

{% block navigationBar %}
    {{ showNavigationBar('help') }}
{% endblock %}

{% block content %}
    <div class="indent">
        <h2>CompArative GEne Cluster Analysis Toolbox</h2>

        <p>CAGECAT is continuously under development. If you encounter a user-interface problem, try pressing CTRL+F5 to reload all service files. If your problem still isn't resolved, feel free to <a href="{{ url_for('feedback.feedback_page') }}">submit feedback</a>.</p>

        <div>
            <p>CAGECAT acts as a bridge between complex command line interface (CLI) executed analyses and aims to provide a user-friendly and intuitive interface to prevent difficult analyses execution for the individual researcher. Our service enables fast analysis using multiple interconnected tools, reducing reducing the time required to execute such analyses. Researchers without programming experience encounter a steep learning curve to execute CLI analysis. Therefore, CAGECAT does not require any programming at all, lowering the technical barrier for researchers to execute gene cluster analyses and prevent the time-consuming process of learning how to execute such analyses by the CLI. Additionally, connecting multiple gene cluster analyses tools on CAGECAT creates an online data analysis pipeline without the difficulties of connecting multiple individual tools, utilizing the specialty of each tool.</p>
        </div>

        <div>
            <h2>Contact</h2>
            <p>CAGECAT was created by Matthias van den Belt under supervision of Mohammad Alanjary and Marnix Medema.</p>
            <p>Use the <a href="{{ url_for('feedback.feedback_page') }}">feedback form</a> if you wish to contact us.</p>
    </div>

    <p>Release: {{ version }}</p>
    </div>
{% endblock %}
