{% extends "base.html" %}
{% from "macros.html" import showNavigationBar %}

{% block navigationBar %}
    {{ showNavigationBar('help') }}
{% endblock %}

{% block content %}
    <div class="indent">
        <h2>the CompArative GEne Cluster Analysis Toolbox</h2>

        <div>
            <h2>Help pages</h2>
            <ul>
                <li><a href="{{ url_for('tutorial') }}">Tutorial to execute your first analysis via CAGECAT</a></li>
                <li><a href="{{ url_for('output_files_explanation') }}">Detailed descriptions of output files per analysis</a></li>
                <li><a href="{{ url_for('tools.tools_explanation') }}">Detailed descriptions and explanations of the different analyses on CAGECAT</a></li>
            </ul>
        </div>

        <div>
            <h2>CAGECAT specific links</h2>
            <ul>
                <li><a href="https://github.com/MatthiasvdBelt/CAGECAT">Source code (GitHub)</a></li>
                <li><a href="https://github.com/MatthiasvdBelt/CAGECAT_instance">Running CAGECAT locally (GitHub)</a></li>
            </ul>

        </div>

        <div>
            <h2>Contact</h2>
            <p>If you encountered a bug/error, please notify the developers by filling in the form below. Please specify the concerning job ID as well as many details as possible and what happened moments prior to the bug/error.
                Suggestions and feedback are more than welcome, for which we kindly ask you to send them to us using the form below. After you submit feedback, a copy of your report will be sent to your e-mail address. Note that this e-mail address will be used for future correspondence about your report.</p>

            <div>
                <form method="post" action="{{ url_for('submit_feedback') }}">
                    <p>Input fields with an * are required.</p>

                    <div class="input-layer">
                        <label class="select-label" for="feedback_type_input">Type of feedback*</label>
                        <select id="feedback_type_input" required="required" name="feedback_type">
                            <option value="bug">Bug / error</option>
                            <option value="suggestion">Suggestion</option>
                            <option value="available_tools">Available tools</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="input-layer">
                        <label class="input-label">Email address for correspondence*</label>
                        <input required="required" name="email" type="email" maxlength="100"/>
                    </div>

                    <div class="input-layer">
                        <label class="input-label" for="job_id_input">Concerning job ID</label>
                        {% if request.args['job_id'] %}
                            {% set job_id = request.args['job_id'] %}
                        {% else %}
                            {% set job_id = '' %}
                        {% endif %}
                        <input id="job_id_input" name="job_id" type="text" value="{{ job_id }}" maxlength="15"/>
                    </div>

                    <div class="input-layer">
                        <label for="message_input" class="textarea-label">Message*</label>
                        <textarea placeholder="limited to 1000 characters" required="required" maxlength="1000" name="message" id="message_input" cols="45" rows="10"></textarea>
                    </div>
                    <div class="input-layer centered">
                        <input class="button" value="Send" type="submit"/>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <h2>Contributions</h2>
            <p>Contributors to the CAGECAT project:</p>
            <div class="contributors-div">
                <div>
                    <h3>Wageningen University & Research</h3>
                    <img class="small-indent" src="{{ url_for('static', filename='images/wur_logo.png') }}" alt="Wageningen University"/>
                </div>

                <br/>

                <div>
                    <h3>The University of Western Australia</h3>
                    <img class="small-indent height-140px" src="{{ url_for('static', filename='images/UWA_logo.png') }}" alt="The University of Western Australia"/>
                </div>

                <br/>

                <div>
                    <h3>Seoul National University</h3>
                    <img class="small-indent height-110px" src="{{ url_for('static', filename='images/SNU_logo.svg') }}" alt="Seoul National University"/>
                </div>
            </div>

        </div>

    </div>
    <br/>
<hr/>
<p class="indent">Release: {{ version }}</p>
{% endblock %}
