{% extends "base.html" %}
{% from "macros.html" import showNavigationBar %}

{% block title %}CAGECAT{% endblock %}

{% block navigationBar %}
    {{ showNavigationBar('home') }}
{% endblock %}

{% block content %}
    <div class="centered">
        <h1>Welcome to CAGECAT</h1>
        <h2>the online CompArative GEne Cluster Analysis Toolbox</h2>

        <h4>Available entry points:</h4>
        <div style="display: table;margin: auto;">
            <div style="width: 50%;float: left;">
                <h3>multicblaster</h3>
            </div>
            <div style="width: 50%;float: left;">
                <h3>clinker</h3>
            </div>
            <div style="width: 50%;float: left;">
                <p>Homologous gene cluster searches</p>
                <a href="{{ url_for('tools.multicblaster_search') }}"><button style="width: 40%;" class="button">Start</button></a>
                <a href="{{ url_for('tools.tools_explanation') }}"><button style="width: 40%" class="button">Explanation</button></a>
                <p>Input types:</p>
                <ul>
                    <li>Protein sequences (FASTA)</li>
                    <li>Gene cluster (GenBank)</li>
                    <li>NCBI accessions</li>
                    <li>HMM profile identifiers</li>
                </ul>
            </div>

            <div style="width: 50%;float: left;">
                <p style="white-space: nowrap;">Generating publication-quality gene cluster comparison figures</p>
                <a href="{{ url_for('tools.clinker') }}"><button style="width: 40%" class="button">Start</button></a>
                <a href="{{ url_for('tools.tools_explanation') }}"><button style="width: 40%" class="button">Explanation</button></a>
                <p>Input types:</p>
                <ul>
                    <li>Gene cluster (GenBank)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}