{% extends "base.html" %}
{% from "macros.html" import showNavigationBar %}

{% block navigationBar %}
    {{ showNavigationBar('') }}
{% endblock %}

{% block content %}
    <div class="centered-text">
        <p><b>You submitted invalid parameter values. Errors:</b></p>
        <div>
            <table>
                <tr>
                    <th>Parameter</th>
                    <th>Error message</th>
                </tr>

            {% for field, msg in errors.items() %}
                <tr>
                    <td>{{field}}</td>
                    <td>{{' - '.join(msg)}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
