[Unit]
Description=uWSGI instance to serve multicblaster
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/repo
ExecStart=uwsgi --ini multicblaster.ini

[Install]
WantedBy=multi-user.target