{% extends "base.html" %}
{% from "macros.html" import filtering_section %}
{% from "macros.html" import showNavigationBar %}
{% from "macros.html" import renderHelpButton %}
{% from "macros.html" import showSelectedClusters %}
{% from 'macros.html' import renderJobDetailsInput %}
{% from 'macros.html' import renderForm %}

{% block navigationBar %}
    {{ showNavigationBar('analyze') }}
{% endblock %}

{% block content %}
    <h2 class="indent">Extract sequences</h2>
<div>
    <form action="{{url_for('submit_job')}}" method="post">
        {{  add_csrf_line() }}
        <input type="hidden" name="job_type" value="extract_sequences"/>
        <input type="hidden" name="prev_job_id" value="{{prev_job_id}}"/>

        <div>
            <label class="fieldset-label" for="jobDetailsInputFieldset">Job description</label>
            <fieldset id="jobDetailsInputFieldset">
                {{ renderForm(all_forms.general.job_info) }}
            </fieldset>
        </div>

        <div>
            <label class="fieldset-label" for="filteringSection">Filtering</label>
            <fieldset id="filteringSection">
                {{ renderForm(all_forms.filtering) }}

                <div class="input-layer wider-input">
                    <label class="textarea-label" for="selectedQueries">Queries</label>
                    {{ renderHelpButton('selectedQueries') }}
                    {{ showSelectedClusters(selected_queries, False, true) }} {# should False be false ? #}
                </div>
            </fieldset>
        </div>

        <div>
            <label class="fieldset-label" for="outputSection">Output</label>
            <fieldset id="outputSection">
                {{ renderForm(all_forms.output) }}

                {% if show_download %}
                {{ renderForm(all_forms.download) }}
                {% endif %}
            </fieldset>
        </div>

        <div class="input-layer centered">
            {{ all_forms.general.submit.submit }}
        </div>
    </form>
</div>
{% endblock %}
