{% extends "base.html" %}
{% from "macros.html" import result_table %}
{% from "macros.html" import showNavigationBar %}
{% from "macros.html" import renderHelpButton %}
{% from 'macros.html' import renderJobDetailsInput %}
{% from 'macros.html' import showRequiredInputsText %}
{% from 'macros.html' import renderForm %}

{% block scripts %}
    {% if module_to_show == 'recompute' %}
$(':radio:not(:checked)').attr('disabled', true);
    {% else %}
initReadQueryFile();
    {% endif %}
addAccordionListeners();
{% endblock %}

{% block navigationBar %}
    {{ showNavigationBar('analyze') }}
{% endblock %}

{% block content %}
    {% if module_to_show is none %}
        {% set module_name = "Search" %}
    {% else %}
        {% set module_name = module_to_show.capitalize()  %}
    {% endif %}

    <h2 class="indent">{{ module_name }} (cblaster)</h2>
    {{  showRequiredInputsText() }}

<div id="searchModuleContent" class="moduleContent">
<form method="post" enctype="multipart/form-data" action="{{url_for('submit_job')}}" onsubmit="addRequiredSeqs()" name="searchOptionForm">
    <input type="hidden" name="job_type" value="search" required="required"/>

    {{ renderJobDetailsInput() }}
    {% if prev_run_id is none %}
    <label class="fieldset-label" for="inputSection">Input</label>
    <fieldset id="inputSection">

        <div class="radio-options">
            <label class="radioLabel">
                <input type="radio"  class="radio-margin" value="remote" name="mode" checked="checked" onclick="changeSearchMode('remote')">Remote
            </label>
            <label class="radioLabel">
                <input type="radio" value="hmm" name="mode" onclick="changeSearchMode('hmm')">HMM
            </label>
            <label class="radioLabel">
                <input type="radio" value="combi_remote" name="mode" onclick="changeSearchMode('combi_remote')">Remote + HMM
            </label>
        </div>

        <div class="radio-options" id="remoteOptionsSection">
                <div>
                    <label class="radioLabel">
                    <input type="radio" class="radio-margin" value="file" checked="checked" id="radioFasta"
                           name="inputType" onclick="showInputOptions('file', 1)"/>File</label>
                    <label class="radioLabel">
                    <input type="radio" value="ncbi_entries" id="radioNCBIEntries"
                           name="inputType"
                           onclick="showInputOptions('ncbi_entries', 1)"/>NCBI entries
                    </label>
                </div>

            <div class="div-margin" id="genomeFileUploadDiv">
                <label class="file-upload-lbl" for="genomeFile">
                <input type="file" id="genomeFile" name="genomeFiles"
                       required="required" accept="{{ query_file_extensions }}" onchange="readFileContents()"/>Query file*</label>
                {{ renderHelpButton('genomeFile') }}
                <span id="selectedFileName" style="margin-left:1%;"></span>

                <div class="error-message no-display" id="fileUploadIncorExt">
                    <span id="fileUploadIncorExtText"></span>
                </div>
            </div>

            <div id="ncbiEntriesDiv" class="no-display">
                <textarea rows="6" cols="25" class="ncbi-entries" id="ncbiEntriesTextArea"
                          name="ncbiEntriesTextArea" placeholder="NCBI accessions*" disabled="disabled" onfocusout="validateNCBIEntries()"></textarea>
                {{ renderHelpButton('ncbiEntriesTextArea') }}
            </div>
            <div class="error-message no-display" id="accessionsError">
                <span id="accessionsErrorText"></span>
            </div>
        </div>
    </fieldset>

<div id="hmmFullFieldset" class="no-display">
    <label class="fieldset-label" for="hmmSection">Hidden Markov Models (HMM)</label>
    <fieldset id="hmmSection" disabled="disabled">
            <div id="hmmProfilesDiv">
                <div class="input-layer">
                    <label class="select-label" for="selectedGenus">Genus*</label>
                    <select class="select-options" required="required" name="selectedGenus" id="selectedGenus">

                        {% for g in genera %}
                            <option value="{{ g }}">{{ g }}</option>
                        {% endfor %}
                    </select>
                    {{ renderHelpButton('selectedGenus') }}
                </div>
                <div class="input-layer">
                    <label class="textarea-label">HMM profiles*</label>
                    <textarea rows="6" cols="25" required="required" id="hmmProfiles"
                              name="hmmProfiles" placeholder="HMM profile identifiers"></textarea>
                        {#        TODO future: add Pfam identifier validation#}
                        {{ renderHelpButton('hmmProfiles') }}
                </div>
            </div>

    </fieldset>
</div>

<div id="searchSectionFullFieldset">
    <label class="fieldset-label" for="searchSection">Search</label>
    <fieldset id="searchSection">
        {{ renderForm(forms.get('search_section')) }}
    </fieldset>
</div>

{% else %}
        <input type="hidden" name="searchEnteredJobId" value="{{ prev_run_id }}"></input>
        <input type="hidden" value="prev_session" id="radioPrevSession" name="inputType"/>
        <input type="hidden" name="mode" value="remote"></input>
{#        TODO future: mode is not always remote, find way to als use it for HMM / HMM+remote#}
{% endif %}

<label id="advancedSection" class="fieldset-label accordion">Advanced +</label>
<fieldset id="dummy"></fieldset>
<div class="panel">
    <div id="filteringSectionFullFieldset">
        <label class="fieldset-label" for="filteringSection">Filtering</label>
        <fieldset id="filteringSection">
            {{ renderForm(forms.get('filtering_section')) }}
        </fieldset>
    </div>
    <div id="clusteringSectionFullFieldset">
        <label class="fieldset-label" for="clusteringSection">Clustering</label>
        <fieldset id="clusteringSection">
            {{ renderForm(forms.get('clustering_section')) }}

        </fieldset>
    </div>
        {{ result_table('search', "Sum") }}
        {{ result_table('search', "Bin") }}

        <label class="fieldset-label" for="generalOptionSection">Additional options</label>
        <fieldset id="generalOptionSection">
            {{ renderForm(forms.get('additional_options_section')) }}
{#            <label class="checkbox-label">#}
{#                <input type="checkbox" id="sortClusters" name="sortClusters"/>Sort clusters#}
{#            </label>#}
{#            {{ renderHelpButton('sortClusters', True) }}#}
        </fieldset>

        <label class="fieldset-label" for="intermediateGenesSection">Intermediate genes</label>
        <fieldset id="intermediateGenesSection">
            {{ renderForm(forms.get('intermediate_genes_section')) }}

        </fieldset>
</div>
    <div class="input-layer centered">
        <input class="button" value="Submit" type="submit" id="submitSearchForm"/>
    </div>
    </form>
</div>
{% endblock %}
