{% extends "base.html" %}
{% from "macros.html" import showNavigationBar %}

{% block navigationBar %}
    {{ showNavigationBar('analyze') }}
{% endblock %}

{% block content %}
    <div>
        <p>
            The number of selected clusters to plot exceeds the set limit of clinker. Your cblaster search resulted
            in {{ cluster_number }} clusters, and the limit for plotting with clinker is {{ cluster_threshold }}
            clusters.

        </p>
        <p>
            You are able to bypass this limitation by manually selecting <{{ cluster_threshold }} clusters on the result
            page of your
            cblaster search job, extracting these clusters via an "Extract clusters" job, and executing clinker as a
            downstream analysis from the "Extract clusters job".
        </p>
    </div>
{% endblock %}
