{% extends "base.html" %}
{% from "macros.html" import showNavigationBar %}

{% block title %}Tools{% endblock %}

{% block navigationBar %}
    {{ showNavigationBar('tools') }}
{% endblock %}

{% block content %}
    <div class="indent">
        <div>
            <h1>Implemented tools</h1>
            <p>This page displays an overview of the implemented tools on CAGECAT.</p>
        </div>

        <div>
            <h2>multicblaster: homologous gene cluster searches</h2>
            <ul>
                <li><a href="{{ url_for('tools.tools_explanation') }}">Explanation of multicblaster and its usages</a></li>
                <li><a target="_blank" href="https://github.com/gamcil/cblaster">GitHub repository</a></li>
                <li><a target="_blank" href="https://cblaster.readthedocs.io/en/latest/">Authors' wiki</a></li>
                <li><a target="_blank" href="https://doi.org/10.1101/2020.11.08.370601">Publication</a></li>
            </ul>
        </div>

        <div>
            <h2>clinker: generating publication-quality gene cluster comparison figures</h2>
            <ul>
                <li><a href="{{ url_for('tools.tools_explanation') }}">Explanation of clinker and its usages</a></li>
                <li><a target="_blank" href="https://github.com/gamcil/clinker">GitHub repository</a></li>
                <li><a target="_blank" href="https://github.com/gamcil/clinker/wiki">Authors' wiki</a></li>
                <li><a target="_blank" href="http://dx.doi.org/10.1093/bioinformatics/btab007">Publication</a></li>
            </ul>
        </div>

        <div>
            <h2>CORASON (not fully implemented yet)</h2>
            <ul>
                <li><a href="{{ url_for('tools.tools_explanation') }}">Explanation of CORASON and its usages</a></li>
                <li><a target="_blank" href="https://github.com/nselem/corason">GitHub repository</a></li>
                <li><a target="_blank" href="https://github.com/nselem/corason/wiki">Wiki</a></li>
                <li><a target="_blank" href="https://www.nature.com/articles/s41589-019-0400-9">Publication</a></li>
            </ul>
        </div>

    <img alt="Tools workflow" src="{{ url_for('static', filename='images/workflows.svg')}}"/>
    </div>



{% endblock %}