input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /*Remove arrows from number inputs*/
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/*button section*/
.button {
    margin: 10px auto;
    color: white;
    border: 2px solid #5284a7;
    border-radius: 6px;
    background-color: #6aabd7;
    font-size: 18px;
    padding: 2px 8px;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button:hover {
    background-color: #5284a7;
}

.button:active{
    background-color: #304f63;
}

/*input[type="submit"]{*/
/*    width: 140px;*/
/*    height: 30px;*/
/*    font-size: 20px;*/
/*    border-radius: 8px;*/
/*    background-color: #6aabd7;*/
/*    border-color: #444444;*/
/*    color: white;*/
/*    !*margin: auto;*!*/
/*    !*width: 50%;*!*/
/*}*/
/*input[type="submit"]::before {*/
/*    content: "<br/>"*/
/*}*/

.select-options {
    border-radius: 3px;
    box-shadow: 0 0.5px 0 0.5px #a3a2a2;

    /*Border shadow?*/
}

input, select {
    margin: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /*border-radius: 1px;*/

}

.important {
    font-weight: bold;
}

.smaller {
    font-size: 15px;
}

ul.nav {
    border: 1px solid  #6aabd7;
    border-radius: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6aabd7;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

ul.nav li.status {
    /*display: inline-block;*/
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    width: 40%;

}

ul.status {
    background-color: white;
    margin: 0 auto;
    width: 40%;
    /*text-align: center;*/
}

ul.nav li a:hover {
    background-color: #5284a7;
}
ul.nav li a:active{
    background-color: #304f63;
}

ul.nav li a.active {
    background-color: #5284a7;
}

ul.nav li.right-nav {
    float:right;
}

.medium {
    width: 30%;
    margin:auto;
}

.status {
    list-style-type: none;
    background-color: gray;
    /*margin: auto;*/
    width: 20%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    color:white;
}

ul li.status {
    /*border: 1px solid red;*/
}

p.server-status {
    margin: 0 auto;
    background: gray;
    /*padding-left: 16px;*/
    /*padding-top: 8px;*/
    font-size: 17px;
    width: 20%;
    /*height: 50px;*/
    color: white;
    text-align: center;
    /*border-radius: 0 0 3px 3px;*/
    /*border: 2px solid white;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-status {
    /*TODO: make it so thatm middle one lookes better*/
}

.larger-font{
    font-size: 18px;
}

.input-label{
    font-size: 15px;
    margin-left: 0.5%;
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

.textarea-label {
    color: darkcyan;
}

/*.hidden {*/
/*    display: none;*/
/*}*/
select {

}


input[type="file"] {
    opacity: 0; /* make transparent */
    z-index: -1; /* move under anything else */
    position: absolute; /* don't let it take up space */
}

input:disabled, textarea:disabled, label.disabled, select:disabled, form button:disabled {
    cursor: not-allowed;
}

label.disabled, label.disabled:hover, form button:disabled.hover{
    background-color: #cccccc;
}


.centered {
    text-align: center;
    position: relative;
}

iframe {
    margin: 30px;
    background: white;
    border: 1px solid #555555;
    border-radius: 2px;
    width: 90%;
    /*margin: auto;*/
}

.file-upload-lbl{
    margin-top: 0px;
    border: 1px solid #5284a7;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #6aabd7;
    color: white;
    cursor: pointer;
}


.file-upload-lbl:hover{
    background-color: #5284a7;
}

.file-upload-lbl:active{
    background-color: #304f63;;
}

form button:disabled, form button:disabled:hover {
    background-color: #cccccc;
}

.file-upload-lbl:disabled{
    background-color: inherit;
}

.file-upload-lbl.disabled, form button:disabled{
    border-color: #afafaf;
}

.fieldset-label {
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
}

fieldset {
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-color: #6aabd7;
}

textarea {
    resize: none;
    margin: 3px;
    font-size: 15px;
}



input[type="checkbox"] {
    transform: scale(1.4);
    cursor: pointer;
    /*filter: invert(100%) hue-rotate(18deg) brightness(1.7)*/
}

input[type="radio"]{
    transform: scale(1.1);
    cursor: pointer;
}
label input[type="checkbox"] {
    margin: 6px 8px 6px 0.8%;
    /*margin-top: 6px;*/
    /*margin-right: 8px;*/
    /*margin-left: 0.8%;*/
}

label input[type="radio"]{
    margin-right: 6px;
}

.invalid {
    border: 2px solid #ff6f6f;
    border-radius: 2px;
}

input[type="number"], input[type="text"]{
    display: inline-block;
}

/*.fieldset-label:after{*/
/*    content: " -";*/
/*}*/
/*in*/
/*.checkbox-label {*/
/*    padding-left: 20px;*/
/*}*/

div.div-margin {
    margin: 10px 0 0;
}

.radioLabel{
    color: limegreen;
}

.checkbox-label{
    color: blue;
}

.select-label{
    color: chocolate;
}

.leftColumn {
    width: 15%;
    border-right: 2px solid #5284a7;
}

.rightColumn{
    width: 85%;
    /*border-left: 2px solid #6aabd7;*/
    border-bottom: 2px solid #5284a7;
    border-bottom-left-radius: 5px;

}

.column {
    float: left;
    padding: 10px;
}

.statuscorrect {
    list-style-type: none;
    margin: 8px;
    padding: 0;

}

.status-info {
    text-align: right;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}


* {
    box-sizing: border-box;
}


.important-row {
    border: 2px solid black;
    border-radius: 20px 20px 0 0 ;
    border-radius: 20px 20px 0 0 ;
}


/*.allColumnsd{*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

.rightAligned {
    float: right;
    font-weight: bold;
}

ul.statuscorrect li {
    border: 1px solid gray;
    padding: 6px;
    box-shadow: 0 0.5px 0 1px #a3a2a2;
}

ul.statuscorrect > :first-child {
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

ul.statuscorrect > :last-child {
    border-radius: 0 0 5px 5px
}

div.non-scrollable {
    /*TODO: make it nonscrollable*/
    /*top: 0;*/
}

.download-button {
    display: none;
}

.enlarge {
    transform: scale(1.4);

    /*font-size: 18px;*/

}

i.fa.fa-download span {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*div.column.leftColumn form button, div.column.leftColumn a button {*/
/*    color: red;*/
/*}*/

.button-small {
    margin: 5px;
    font-size: 15px;
    width: 90%;
}

.nopadding {
    padding: 0;
}

div.input-layer {
    display: table;
    width: 25%;
    margin-left: 1%;
}

div.input-layer-cust {
    /*same as div.input-layer, but child element styling should be different*/
    display: table;
    width: 25%;
    margin-left: 1%
}


div.input-layer label{
    float: left
}
div.input-layer input, div.input-layer select, div.input-layer textarea{
    float: right
}

div.input-layer input[type="number"]{
    width: 23%;
    direction: rtl;
}

div.input-layer input[type="number"].short, div.input-layer input[type="text"].short {
    width: 10%;
}

div.input-layer select {
    width: 28%;
}

input, div.input-layer select{
    padding: 2px;
}

div.input-layer label {
    margin-top: 6px;
    /*TODO: change that it is automatically aligned. not using px*/
}

.bigger {
    width: 50%;
}

#database_type {
    width: 40%;
}


#outputSectionExtractClusters div.input-layer input.custom-width, #outputSectionExtractClusters div.input-layer select.custom-width {
    width: 34%;
}

div.scientificnotation-div {
    float: right;
    display: inherit;
    margin-right: 3px;
}

.spaced::after, .spaced::before{
    content: " ";
}

