input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /*Remove arrows from number inputs*/
}
.invalid {
    border: solid orangered 2px;
}

iframe {
    background: white;
    border: none;
    width: 100%;
}

textarea {
    resize: none;
}

h1 {
    color: floralwhite;
    font-size: x-large;
}
p.server-status {
    margin: auto;
    background: gray;
    padding-left: 16px;
    /*padding-top: 8px;*/
    font-size: 15px;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    border: 2px solid white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.centered {
    text-align-all: center;
    /*Doesn't do anything currently*/
}

a {
    color: #ff0000;
}

a:hover {
    color: #ff996f;
}
img.centerrrr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.mcenter {
    margin-left: auto;
    margin-right: auto;
    /*width: 30%;*/
    padding-left: 30px;
    padding-right: 30px;
}
/*img.center {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

span.important {
    font-weight: bold;
    color: red;

}
p.footer {
    font-size: 11px;
    color: white;
    font-family: Arial;
    margin: fill;
}

body {
    background-color: black;
    /*text-align: center;*/
    color: white;
    font-family: "Cambria Math";
}

.image_title {
    color: blueviolet;
    font-weight: bold;
}

span.smallertext {
    font-size: xxx-large;
}

.error-message {
    color: red;
    font-size: xx-large;
}

.hidden {
    display: none;
}

.submitted-data {
    font-family: "Courier New";
    background: gray;
    color: white;
}

.button {
    border-radius: 15px;
    border: 2px solid white;
    background: rebeccapurple;
    color: white;
    font-size: 16px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    /*    color: black;*/
}

.button:hover {
    background: #f8cc2c;
    color:white;
}

.info {
    background: limegreen;
    color: white;

}

.warning {
    background: orangered;
    color: white;

}
/*.again-button {*/
/*    border: white;*/
/*    border-width: 10px;*/
/*    background: coral;*/
/*    color: black;*/
/*}*/

.log{
    border: solid dodgerblue 2px;
    background: darkgrey;
    font-family: "Courier New";
}